record(stringin, "$(P)$(R)$(NAME)") {
    field(DESC, "$(NAME) string")
    field(DTYP, "asynOctetRead")
    field(INP,  "@asyn($(PORT), 0x010$(A), 0)")
    field(SCAN, "Event")
    field(EVNT, "RECON")
}
