# read build time once On Connect
record(longin, "$(P)$(R)$(NAME):C_") {
    field(DTYP, "FEED On Connect")
    field(INP , "@name=$(PORT)")
    field(SCAN, "I/O Intr")
    field(FLNK, "$(P)$(R)$(NAME)_")
}
record(longin, "$(P)$(R)$(NAME)_") {
    field(DESC, "$(NAME) (POSIX seconds)")
    field(DTYP, "FEED Register Read")
    field(INP,  "@name=$(PORT) reg=$(NAME)")
    # TODO: dset to copy VAL -> TIME
    field(FLNK, "$(P)$(R)$(NAME):T_")
}
record(ai, "$(P)$(R)$(NAME):T_") {
    field(DTYP, "Copy VAL to TIME")
    field(INP , "$(P)$(R)$(NAME)_")
    field(FLNK, "$(P)$(R)$(NAME)")
}
record(stringin, "$(P)$(R)$(NAME)") {
    field(DESC, "$(NAME) (human-readable)")
    field(DTYP, "Soft Timestamp")
    field(INP,  "@%Y-%m-%d %H:%M:%S")
    field(TSEL, "$(P)$(R)$(NAME):T_.TIME")
}
