record(stringin, "$(P)$(R)$(NAME)") {
    field(DESC, "$(NAME) (human-readable)")
    field(DTYP, "Soft Timestamp")
    field(INP,  "@%Y-%m-%d %H:%M:%S")
    field(TSEL, "$(P)$(R)$(NAME)_.TIME")
}
record(longin, "$(P)$(R)$(NAME)_") {
    field(DESC, "$(NAME) (POSIX seconds)")
    field(DTYP, "PSC Reg")
    field(INP,  "@$(PORT) 16953 $(IDX)")
    info(TimeFromBlock, "$(IDX)") # 4 bytes posix sec, 4 bytes nsec, at $(IDX)
    field (TSE,  "-2")
    field(SCAN, "I/O Intr")
    field(FLNK, "$(P)$(R)$(NAME)")
}
