record(longin, "$(P)$(R)$(NAME)") {
    field(DESC, "$(DESC)")
    field(DTYP, "PSC Reg")
    field(INP,  "@$(PORT) 16952 $(IDX)")
    field(SCAN, "I/O Intr")
    field(EGU,  "$(EGU)")
    field(LOLO, "$(LOLO)")
    field(LOW,  "$(LOW)")
    field(HIGH, "$(HIGH)")
    field(HIHI, "$(HIHI)")
    field(LLSV, "MAJOR")
    field(LSV,  "MINOR")
    field(HSV,  "MINOR")
    field(HHSV, "MAJOR")
}
