
# setup and control

record(longout, "$(P)SA:BufLim") {
    field(DTYP, "PSCUDPFast shortLimit")
    field(OUT , "@$(NAME)")
    field(VAL , "1") # will automatically grow to fill channel aai NELM
    field(PINI, "YES")
}

record(ao, "$(P)SA:WinSt") {
    field(DESC, "Window start time")
    field(VAL, "0")
    field(EGU, "s")
}

record(ao, "$(P)SA:WinSz") {
    field(DESC, "Window length")
    field(VAL, "10")
    field(EGU, "s")
}

record(bo, "$(P)SA:AutClr") {
    field(ZNAM, "Manual")
    field(ONAM, "Auto")
    field(VAL , "1")
    field(FLNK, "$(P)SA:AutClr_") # attempt to clear on change
}

# timebase, assume identical for all.

record(calc, "$(P)SA:Pr") {
    field(DESC, "Sample period")
    field(INPA, "$(EVG)ACQ:rate.RVAL CP") # decimation factor
    field(INPB, "250e3")
    field(CALC, "A/B")
    field(EGU , "s")
    field(PREC, "6")
    field(FLNK, "$(P)SA:Fq")
}

record(calc, "$(P)SA:Fq") {
    field(DESC, "Sample freq.")
    field(INPA, "$(P)SA:Pr")
    field(CALC, "1/A")
    field(EGU, "Hz")
}

record(aSub, "$(P)SA:T_") {
    field(SNAM, "wf_timebase")
    field(FTA , "ULONG")
    field(FTB , "DOUBLE")
    field(FTVA ,"DOUBLE")
    field(INPA, "$(P)SA:Ch01.NELM CP")
    field(INPB, "$(P)SA:Pr CP")
    field(OUTA, "$(P)SA:T PP MS")
    field(NOVA, "$(NELM)")
}

record(aai, "$(P)SA:T") {
    field(FTVL, "DOUBLE")
    field(NELM, "$(NELM)")
}

# begin "short" readout chain

# notification when "short" buffer fills
record(bi, "$(P)SA:BufFul") {
    field(DTYP, "PSCUDPFast shortFull")
    field(INP , "@$(NAME)")
    field(SCAN, "I/O Intr")
    field(ZNAM, "Not full")
    field(ONAM, "Full")
    field(OSV , "MINOR")
    field(FLNK, "$(P)SA:BufFul_")
    field(TPRO, "$(TPRO=)")
}

# trigger channel readout when Not full -> Full
record(calcout, "$(P)SA:BufFul_") {
    field(INPA, "$(P)SA:BufFul")
    field(CALC, "A")
    field(OOPT, "When Non-zero")
    field(OUT , "$(P)SA:Ch01.PROC") # --> quartzAcqChan.template
}

# /-- back after last channel processed
# |
# V

record(bo, "$(P)SA:AutClr_") {
    field(SDIS, "$(P)SA:AutClr")
    field(DISV, "0")
    field(FLNK, "$(P)SA:BufClr")
}

# HACK: an "input" with side-effects.  Clears and reports previous size
record(longin, "$(P)SA:BufClr") {
    field(DTYP, "PSCUDPFast Clear Short")
    field(INP , "@$(NAME)")
}
