
# suppliment nasaAcqSup.subtitutions

# breakout ACQ:status word
record(bi, "$(P)ACQ:clk") {
    field(DESC, "Acq. clk unlock from PPS")
    field(DTYP, "Raw Soft Channel")
    field(INP , "$(P)ACQ:status CP MS")
    field(MASK, "1")
    field(ZNAM, "Lock")
    field(ONAM, "Unlock")
    field(OSV , "MAJOR")
}
record(bi, "$(P)ACQ:tod") {
    field(DESC, "Time of day invalid")
    field(DTYP, "Raw Soft Channel")
    field(INP , "$(P)ACQ:status CP MS")
    field(MASK, "2")
    field(ZNAM, "Invalid")
    field(ONAM, "Valid")
    field(OSV , "MAJOR")
}
record(bi, "$(P)ACQ:pktoflw") {
    field(DESC, "Pkt Bldr oflow")
    field(DTYP, "Raw Soft Channel")
    field(INP , "$(P)ACQ:status CP MS")
    field(MASK, "4")
    field(ZNAM, "Normal")
    field(ONAM, "OFlow")
    field(OSV , "MAJOR")
}
record(bi, "$(P)ACQ:adcoflw") {
    field(DESC, "ADC oflow")
    field(DTYP, "Raw Soft Channel")
    field(INP , "$(P)ACQ:status CP MS")
    field(MASK, "8")
    field(ZNAM, "Normal")
    field(ONAM, "OFlow")
    field(OSV , "MAJOR")
}
record(bi, "$(P)ACQ:loadcal") {
    field(DTYP, "Raw Soft Channel")
    field(INP , "$(P)ACQ:status CP MS")
    field(MASK, "0x10000000")
    field(ZNAM, "Idle")
    field(ONAM, "Run")
}
record(bi, "$(P)ACQ:sub") {
    field(DESC, "Fast data subscriber")
    field(DTYP, "Raw Soft Channel")
    field(INP , "$(P)ACQ:status CP MS")
    field(MASK, "0x20000000")
    field(ZNAM, "No")
    field(ONAM, "Yes")
    field(ZSV , "MAJOR")
}
record(bi, "$(P)ACQ:running") {
    field(DESC, "Sampling")
    field(DTYP, "Raw Soft Channel")
    field(INP , "$(P)ACQ:status CP MS")
    field(MASK, "0x40000000")
    field(ZNAM, "Idle")
    field(ONAM, "Run")
}
record(bi, "$(P)ACQ:request") {
    field(DESC, "Request sampling")
    field(DTYP, "Raw Soft Channel")
    field(INP , "$(P)ACQ:status CP MS")
    field(MASK, "0x80000000")
    field(ZNAM, "Idle")
    field(ONAM, "Request")
}

# breakout clkPLL word
record(bi, "$(P)ACQ:loop") {
    field(DESC, "VXCO loop")
    field(DTYP, "Raw Soft Channel")
    field(INP , "$(P)ACQ:clkPLL CP MS")
    field(MASK, "0x20000000")
    field(ZNAM, "Stop")
    field(ONAM, "Run")
    field(ZSV, "MAJOR")
}
record(bi, "$(P)ACQ:ppsTog") {
    field(DESC, "PPS toggle")
    field(DTYP, "Raw Soft Channel")
    field(INP , "$(P)ACQ:clkPLL CP MS")
    field(MASK, "0x40000000") # toggles state each time PPS arrives
    field(ZNAM, "0")
    field(ONAM, "1")
}
record(bi, "$(P)ACQ:ppslck") {
    field(DESC, "PPS Locked")
    field(DTYP, "Raw Soft Channel")
    field(INP , "$(P)ACQ:clkPLL CP MS")
    field(MASK, "0x80000000")
    field(ZNAM, "Unlock")
    field(ONAM, "Lock")
    field(ZSV , "MAJOR")
}
record(calc, "$(P)ACQ:ppsdiff") {
    field(INPA, "$(P)ACQ:clkPLL CP MS")
    # mask out field
    field(INPB, "0xffffff") # mask
    field(INPC, "0")        # offset
    field(INPD, "") # scratch, unsigned 16
    field(INPF, "0x800000") # sign bit
    field(CALC, "D:=((A&B)>>C);D&F?-(D XOR B)-1:D")
    field(EGU , "tick")
    field(ADEL, "0")
}

record(bi, "$(P)DRDY:align") {
    field(DESC, "DRDY aligned")
    field(DTYP, "Raw Soft Channel")
    field(INP , "$(P)DRDY:status CP MS")
    field(MASK, "0x80000000")
    field(ZNAM, "Aligned")
    field(ONAM, "Skew")
    field(OSV , "MAJOR")
}
# number of acquisition clock ticks (8 ns per tick) between event receiver PPS event and ADC DRDY rising edge.
record(calc, "$(P)DRDY:pps") {
    field(DESC, "PPS -> DRDY itvl")
    field(INPA, "$(P)DRDY:status CP MS")
    field(INPB, "0xfffff")
    field(INPC, "0")
    field(INPD, "8") # raw units are ticks of 125MHz
    field(CALC, "((A&B)>>C)*D")
    field(EGU , "ns")
    field(ADEL, "0")
    field(FLNK, "$(P)DRDY:err")
}
# compare this node with EVG node
record(calc, "$(P)DRDY:err") {
    field(INPA, "$(P)DRDY:pps MS")
    field(INPB, "$(EVG)DRDY:pps CP MS")
    field(CALC, "A-B")
    field(EGU , "ns")
    # difference should be abs()<65ns
    # however, polling is unsynchronized
    # so off by N is common.  Set bounds
    # wide enough to account for this,
    # but narrow enough to catch chassis reboot
    field(HIGH, "256")
    field(LOW , "-256")
    field(HSV , "MAJOR")
    field(LSV , "MAJOR")
    field(FLNK, "$(P)DRDY:ok_")
}
record(calcout, "$(P)DRDY:ok_") {
    field(INPA, "$(P)DRDY:err.SEVR MS")
    field(CALC, "A>0")
    field(OUT , "$(P)DRDY:ok PP MSS")
}
record(bi, "$(P)DRDY:ok") {
    field(ZNAM, "In Sync.")
    field(ONAM, "Spread")
    field(OSV , "MAJOR")
}

# breakout PPS:status  (Only meaningful on EVG node)
record(bi, "$(P)PPS:fmc") {
    field(DTYP, "Raw Soft Channel")
    field(INP , "$(P)PPS:status CP MS")
    field(MASK, "0x10000000")
    field(ZNAM, "No FMC")
    field(ONAM, "FMC")
}
record(bi, "$(P)PPS:gps") {
    field(DTYP, "Raw Soft Channel")
    field(INP , "$(P)PPS:status CP MS")
    field(MASK, "0x20000000")
    field(ZNAM, "No GPS")
    field(ONAM, "GPS")
}
record(mbbi, "$(P)PPS:src") {
    field(DTYP, "Raw Soft Channel")
    field(INP , "$(P)PPS:status CP MS")
    field(NOBT, "4")
    field(SHFT, "28")
    field(MASK, "0xb") # 0b1011
    field(ZRVL, "0x0")
    field(ONVL, "0x9") # 0b1001
    field(TWVL, "0xa") # 0b1010
    field(ZRST, "No PPS")
    field(ONST, "FMC")
    field(TWST, "PMOD")
    field(UNSV, "MAJOR")
}
record(calc, "$(P)PPS:jtr") {
    field(INPA, "$(P)PPS:status CP MS")
    field(INPB, "0xffff")
    field(INPC, "0")
    field(INPD, "1")
    field(CALC, "((A&B)>>C)*D")
    field(EGU , "ns")
    field(ADEL, "0")
}


# per-chassis summaries

# any channel in use?
record(calc, "$(P)USE:1_") {
    field(INPA, "$(P)SA:Ch01:USE CP")
    field(INPB, "$(P)SA:Ch02:USE CP")
    field(INPC, "$(P)SA:Ch03:USE CP")
    field(INPD, "$(P)SA:Ch04:USE CP")
    field(INPE, "$(P)SA:Ch05:USE CP")
    field(INPF, "$(P)SA:Ch06:USE CP")
    field(INPG, "$(P)SA:Ch07:USE CP")
    field(INPH, "$(P)SA:Ch08:USE CP")
    field(INPI, "$(P)SA:Ch09:USE CP")
    field(INPJ, "$(P)SA:Ch10:USE CP")
    field(INPK, "$(P)SA:Ch11:USE CP")
    field(INPL, "$(P)SA:Ch12:USE CP")
    field(CALC, "A||B||C||D||E||F||G||H||I||J||K||L")
    field(FLNK, "$(P)USE:3_")
}
record(calc, "$(P)USE:2_") {
    field(INPA, "$(P)SA:Ch13:USE CP")
    field(INPB, "$(P)SA:Ch14:USE CP")
    field(INPC, "$(P)SA:Ch15:USE CP")
    field(INPD, "$(P)SA:Ch16:USE CP")
    field(INPE, "$(P)SA:Ch17:USE CP")
    field(INPF, "$(P)SA:Ch18:USE CP")
    field(INPG, "$(P)SA:Ch19:USE CP")
    field(INPH, "$(P)SA:Ch20:USE CP")
    field(INPI, "$(P)SA:Ch21:USE CP")
    field(INPJ, "$(P)SA:Ch22:USE CP")
    field(INPK, "$(P)SA:Ch23:USE CP")
    field(INPL, "$(P)SA:Ch24:USE CP")
    field(CALC, "A||B||C||D||E||F||G||H||I||J||K||L")
    field(FLNK, "$(P)USE:3_")
}
record(calcout, "$(P)USE:3_") {
    field(INPA, "$(P)USE:1_ MS")
    field(INPB, "$(P)USE:2_ MS")
    field(INPC, "$(P)SA:Ch25:USE CP")
    field(INPD, "$(P)SA:Ch26:USE CP")
    field(INPE, "$(P)SA:Ch27:USE CP")
    field(INPF, "$(P)SA:Ch28:USE CP")
    field(INPG, "$(P)SA:Ch29:USE CP")
    field(INPH, "$(P)SA:Ch30:USE CP")
    field(INPI, "$(P)SA:Ch31:USE CP")
    field(INPJ, "$(P)SA:Ch32:USE CP")
    field(CALC, "A||B||C||D||E||F||G||H||I||J")
    field(OUT , "$(P)USE PP MS")
}
record(bi, "$(P)USE") {
    field(ZNAM, "No chan")
    field(ONAM, "In use")
}

# device status summary
record(calcout, "$(P)STS_") {
    field(INPA, "$(P)ACQ:clk CP MS")
    field(INPB, "$(P)ACQ:ppslck CP MS")
    field(INPC, "$(P)DRDY:align CP MS")
    field(INPD, "$(P)DRDY:ok CP MS")
    field(CALC, "!A&&B&&!C&&!D")
    field(OUT , "$(P)STS PP MS")
}
record(bi, "$(P)STS") {
    field(ZNAM, "Error")
    field(ONAM, "Ok")
}

# ready for global recording
record(calcout, "$(P)RDY_") {
    field(INPA, "$(P)USE CP MS")
    field(INPB, "$(P)STS CP")
    field(INPC, "$(P)STS.SEVR CP")
    field(CALC, "!A||(B&&!C)") # not in use or STS OK (and not in alarm)
    field(OUT , "$(P)RDY PP MS")
    field(IVOA, "Set output to IVOV")
    field(IVOV, "0")
}
record(bi, "$(P)RDY") {
    field(ZNAM, "Not Ready")
    field(ONAM, "Ready")
    field(ZSV , "MAJOR")
}


# setup and control

record(longout, "$(P)SA:BufLim") {
    field(DTYP, "PSCUDPFast shortLimit")
    field(OUT , "@$(NAME)")
    field(VAL , "1") # will automatically grow to fill channel aai NELM
    field(PINI, "YES")
    info(autosaveFields_pass0, "VAL")
}

record(ao, "$(P)SA:WinSt") {
    field(DESC, "Window start time")
    field(VAL, "0")
    field(EGU, "s")
    info(autosaveFields_pass0, "VAL")
}

record(ao, "$(P)SA:WinSz") {
    field(DESC, "Window length")
    field(VAL, "100")
    field(EGU, "s")
    info(autosaveFields_pass0, "VAL")
}

record(bo, "$(P)SA:AutClr") {
    field(ZNAM, "Manual")
    field(ONAM, "Auto")
    field(VAL , "1")
    field(FLNK, "$(P)SA:AutClr_") # attempt to clear on change
    info(autosaveFields_pass0, "VAL")
}

# timebase, assume identical for all.

record(calc, "$(P)SA:Pr") {
    field(DESC, "Sample period")
    field(INPA, "$(P)SA:Pr")
    field(INPA, "$(EVG)ACQ:rate.RVAL CP") # decimation factor
    field(CALC, "1/A")
    field(EGU , "s")
    field(PREC, "6")
}

record(aSub, "$(P)SA:T_") {
    field(SNAM, "wf_timebase")
    field(FTA , "ULONG")
    field(FTB , "DOUBLE")
    field(FTVA ,"DOUBLE")
    field(INPA, "$(P)SA:Ch01.NELM CP")
    field(INPB, "$(P)SA:Pr CP")
    field(OUTA, "$(P)SA:T PP MS")
    field(NOVA, "$(NELM)")
}

record(aai, "$(P)SA:T") {
    field(FTVL, "DOUBLE")
    field(NELM, "$(NELM)")
}

# begin "short" readout chain

# notification when "short" buffer fills
record(bi, "$(P)SA:BufFul") {
    field(DTYP, "PSCUDPFast shortFull")
    field(INP , "@$(NAME)")
    field(SCAN, "I/O Intr")
    field(ZNAM, "Not full")
    field(ONAM, "Full")
    field(OSV , "MINOR")
    field(FLNK, "$(P)SA:BufFul_")
    field(TPRO, "$(TPRO=)")
}

# trigger channel readout when Not full -> Full
record(calcout, "$(P)SA:BufFul_") {
    field(INPA, "$(P)SA:BufFul")
    field(CALC, "A")
    field(OOPT, "When Non-zero")
    field(OUT , "$(P)SA:Ch01_.PROC") # --> quartzAcqChan.template
}

# /-- back after last channel processed
# |
# V

record(bo, "$(P)SA:AutClr_") {
    field(SDIS, "$(P)SA:AutClr")
    field(DISV, "0")
    field(FLNK, "$(P)SA:BufClr")
}

# HACK: an "input" with side-effects.  Clears and reports previous size
record(longin, "$(P)SA:BufClr") {
    field(DTYP, "PSCUDPFast Clear Short")
    field(INP , "@$(NAME)")
}
